body{
  background-color: white;
  font-family: Montserrat, sans-serif;
	overflow-x: hidden;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}



/* #Progress
================================================== */

.progress-wrap {
	height: 50px;
	width: 50px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #ff0c55;
	stroke-width: 5;
	box-sizing: border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: rgb(177, 14, 14);
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 50px;
	width: 50px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(1.4) translateX(-35%) translateY(-35%);
	transform:scale(1.4) translateX(-35%) translateY(-35%);
	border:none
}

.cursor2.hover{
	background: rgba(255,255,255,0.1);
}
.cursor2.hover .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0);
}
.cursor2.hover .progress-wrap svg.progress-circle path {
	opacity: 0.4;
}







#mainNav {
    background: linear-gradient(to bottom right, #6100ff, #ff0c55);
    padding-top: 20px;
    width: 100%;
    height: 65px;
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 21px;
    position: fixed;
    z-index: 99999;
}

.recherche {
  column-count: 2;  
  column-gap: 10em;
  color: #dfdfdf;
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  margin-left: 100px;
  margin-right: 100px;

}
.a_1 {
  color:rgb(255, 255, 255);
  font-family: Montserrat,sans-serif;
  padding-left:20px;
  text-align: center;
}

.a_2, .a_3 {
  color:rgb(180, 180, 180);
  font-family: Montserrat,sans-serif;
  padding-left:20px;
  text-align: center;
}

.a_1:hover, .a_2:hover, .a_3:hover {
  font-family: Montserrat,sans-serif;
  padding-left:20px;
  color:black;
  text-decoration: none;
  text-align: center;
}


.add {
  color:white;
  font-family: Montserrat,sans-serif;
  padding-left:20px;
  text-decoration: none;
}


.container_head_produkt {
    background-image: url(Bilder/TFF-lovers-room1.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 700px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    alt: "Image";
    margin-bottom: 80px;
}


.button {  
    border: 6px solid transparent;
    border-image: linear-gradient(to bottom right, #6100ff 0%, #ff0c55 100%);
    border-image-slice: 1;
    z-index: 1;
    background: #fff;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    background: linear-gradient(to bottom right, #6100ff, #ff0c55);
    color: #fff;
    z-index: 1;
}


.ed {
  color: #ff0c55;
  font-family: Montserrat,sans-serif;
  text-align: center;
  font-size: 40px;
  padding-bottom: 45px;
  padding-top: 50px;
}

.ee {
  color: #ff0c55;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-size: 30px;
}

.eg {
  color: #6100ff;
  text-align: center;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

.quote {
  position: relative;
  margin-top: 20px;
  padding: 0 30px;
}
.quote:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: '„';
  font-family:  Arial, sans-serif;
  font-size: 250px;
  color: #d3d3d3;
  line-height: 35px;
  top: -100px;
  left: 7px;
}

.semesteraufgabe {
  color: #dfdfdf;
  font-family: Montserrat,sans-serif;
  text-align: center;
  font-size: 16px;
  margin-left: 200px;
  margin-right: 200px;
}

.text_moti {
  color: #000;
  font-family: Montserrat,sans-serif;
  text-align: center;
  font-size: 16px;
  margin-left: 200px;
  margin-right: 200px;
}

.dd {
  color: #ff0c55;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
}

.members {
  background-color: white;
}

.aussagen {
  height: auto;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 20px;
  margin-bottom: 50px;
  text-align: center;
}

figcaption {
  display: inline-block; 
  text-align: left;
  font-family: Montserrat,sans-serif;
  font-size: 12px;
  color: #5c5c5c;
  font-style: italic;
}


.hidden {
  display: none;
}


#example-popover {
  color: #ff0c55;
  font-family: Montserrat,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.sliderElements,
.sliderElements figure,
.sliderControls {
    margin: 0;
}
 
.sliderElements:after {
    content: ".";
    display: table;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}
 
.cssSlider {
    overflow-x: hidden;
}
 
.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 350%;
    margin-bottom: .8em;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}
 
.sliderElements > li {
    float: left;
    width: 25%;
    position: relative;
}
 
#slide02:checked ~ .sliderElements {
    left: -100%;
}
 
#slide03:checked ~ .sliderElements {
    left: -200%;
}
 
#slide04:checked ~ .sliderElements {
    left: -300%;
}

#slide05:checked ~ .sliderElements {
    left: -400%;
}

#slide06:checked ~ .sliderElements {
    left: -500%;
}

#slide07:checked ~ .sliderElements {
    left: -600%;
}

#slide08:checked ~ .sliderElements {
    left: -700%;
}

/* Bildunterschrift auf dem Bild positionieren */
.sliderElements figcaption {
    display: block;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 1em;
    padding: .4em;
    background: rgba(0,0,0,.5);
}
 
/* Bilder responsive */
.sliderElements img {
    width: 100%;
    height: auto;
}
 
 
/* inputs aus dem Blickfeld schieben */
.cssSlider input {
    position: absolute;
    left: -99999px;
}
 
/* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
.sliderControls {
    text-align: center;
}
 
/* Controls nebeneinander bringen */
.sliderControls li {
    display: inline-block;
}
 
/* Controls auf einheitliche Maße bringen und die Ecken abrunden */
.sliderControls label {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    display: table;
    cursor: pointer;
    background: linear-gradient(to bottom right, #6100ff, #ff0c55);
    color: rgb(163, 165, 161);
}
 
/* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"],
#slide05:checked ~ .sliderControls label[for="slide05"],
#slide06:checked ~ .sliderControls label[for="slide06"],
#slide07:checked ~ .sliderControls label[for="slide07"],
#slide08:checked ~ .sliderControls label[for="slide08"] {
    background: linear-gradient(to bottom right, #6100ff, #ff0c55, 0.8);
    color: #ff0c55;
}
.m.movie {
  max-width:1000px;
}

